/*Lo basico de la pagina*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scrollbar-color: blue white;
    scrollbar-width: thin;
}

body{
    background-color: #4261d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen_1{
    padding: 0;
}
